body {
  background-color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
  border-spacing: 5px;
}

td {
  padding: 5px;
}

canvas {
  background-color:white;
}

.label {
  font-weight: bold;
}

.redtext {
  color: red;
}

.units {
  font-style: italic;
}

.data {
  font-family: monospace;
  color: darkgreen;
}

.reddata {
  font-family: monospace;
  color: red;
}

.hyperlink {
  color: darkblue;
  text-decoration: underline;
}

.highlighted {
  background-color: yellow;
}

.rowheader {
  background-color: lightgreen;
}

.okbutton {
  font-weight: bold;
  color : green;
}

.cancelbutton {
  font-weight: bold;
  color : red;
}

.newbutton {
  font-weight: bold;
  color : blue;
}

.buybutton {
  font-weight: bold;
  color : green;
}

